*{
    box-sizing: bordex-box;
    font-family: 'Karla', sans-serif;
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    padding: 40px 0px 20px 0px;
}

.div1{
    height: 260px;
    padding-left: 25px;  
}

h1{
    font-size:20px;
}

.div1 h1{
    color: hsl(179, 62%, 43%);
    padding-bottom:25px;
       
}

.div1 h2{
    color: hsl(71, 73%, 54%);
    font-size:17px;
    padding-bottom:20px;
    font-weight: 700;
}

.div1 p{ 
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 30px;
    padding-bottom:20px;
}

.div2 .div2-1{
    height: 260px;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
}
.div2 .div2-1 h1{
    padding: 30px 25px 20px 25px;
      
}

.div2 .div2-1 p{
    padding-left: 25px;    
}

.dolar{
    font-size:30px;
    font-weight:700;
    padding-right:10px;
    color: hsl(204, 43%, 93%);
}

.perMonth{
    color:hsl(217, 35%, 85%);
}

.fullAccess{
    padding-bottom:40px;
}

button{
    width:310px;
    height: 50px;
    margin-right: 25px;
    margin-left:25px;
    background-color:hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    font-weight: 700;
    border:none;
    border-radius:5px;
    font-size: 17px;
    margin-bottom: 25px;    
}

.div2 .div2-2{
    height: 280px;
    background-color:hsl(179, 62%, 43%); 
    opacity: 0.8;
    color: hsl(204, 43%, 93%);   
}

.div2 .div2-2 h1{
    padding: 30px 25px 20px 25px;
}

ul{
    padding-left: 25px;
    list-style: none; 
    color: hsl(217, 35%, 85%);        
}

li{
    padding-bottom:8px;
}

footer{
    margin-top: 20px;    
}

footer .attribution{
    text-align: center;    
}

@media (min-width:1000px) {
    
    .div1{
        height:180px;
        padding-left:40px;
    }

    .div1 h1{
        font-size: 25px;
       
}
    
    .div2{      
        display:flex;
    }

    .div2 .div2-1{
        width:50%;
        height: 280px;
        padding-left:15px;
    }

        .div2 .div2-2{
        width:50%;
        padding-left:15px;
    }
    
    .fullAccess{
        padding-top:10px;
        padding-bottom:30px;
}

    li{
    padding-bottom:5px;
}

}